.header {
	background-color: rgb(20, 20, 20);
}
.logo {
	margin-right: 40px;
}
.logo img {
	width: 120px;
}

.headerContainer {
	display: flex;
	height: 68px;
	align-items: center;
	justify-content: space-between;
}
.headerLeft {
	display: flex;
	align-items: center;
}
.children {
	position: relative;
}
